<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <style>
        body{
            background-color:  #cd97ff;
        }
        h1{
            text-align: center;
            background-color:#fc9eff;
        }  
        article{
            font-family: Georgia;
            background-color:  #fc9eff;
        }
    </style>
</head>

<body>
    <center>
    
    <h1>Hello my name is {{name}}</h1>
    
    <img src = "https://i.imgur.com/ATR8VkH.jpg" width="260" height="320" >
   

    <article>My NPM is 1706020396</article>
    <article>Right now, I am studying at University of Indonesia </article>
    <article>I Love Crafting, Reading and Writing</article>
    <article>I am {{age}} years old</article>

    <h1> Maria Aprillia Devira</h1>

    <img src = "https://scontent-sit4-1.xx.fbcdn.net/v/t31.0-8/17505291_1383916368313404_700835835238721262_o.jpg?_nc_cat=0&oh=8d4480dfef43af602553b8521849a2a2&oe=5C302894" width="340" height="324">
    
    
    <article>1706018920</article>
    <article>She is 18 years old</article>
    <article>She is studying at University of Indonesia</article>
    <article>She likes sleep, her dog an fire emblem</article>
    
    <h1> Muhammad Naufal (doang) </h1>

    <img src = "https://i.imgur.com/q8tRO0w.jpg" height="328" widht ="340">
    
    
    <article>1706019665</article>
    <article>He is 19 years old</article>
    <article>currently studying at University of Indonesia</article>
    <article>His hobbies is Watching Netflix and Chill</article>


    </center>
</body>
</html>
